<%= render 'large-header' %>

<section class="main">
  <div class="session-form">
  <h1>Sign in</h1>
  <%= render :partial => '/sessions/form' %>

  <ul>
    <li>
      <%= link_to "Sign up", sign_up_path %>
    </li>
    <li>
      <%= link_to "Forgot password?", new_password_path %>
    </li>
  </ul>
  </div>
</section>
