<div class="text_field">
  <%= form.email_field :email, :type => "email", placeholder: "Your email" %>
</div>
<div class="password_field">
  <%= form.password_field :password,placeholder: "Choose a password" %>
</div>
