<%= render 'large-header' %>

<section class="main">
  <div class="session-form">
    <h1>Sign up</h1>

    <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>
      <%= form.submit 'Sign up' %>
    <% end %>
  </div>
</section>
