<header>
  <h1><img src="images/logo.png" alt="memori logo" /></h1>
</header>
<section class="main">
  <%= form_for(:session, url: session_path, :html => { :class => "sign-in"}) do |form| %>
    <div>
      <%= form.email_field :email, placeholder: "Your email" %>
    </div>
    <div>
      <%= form.password_field :password, placeholder: "You password" %>
    </div>
    <div>
      <%= form.submit "Sign in" %>
    </div>
  <% end %>
</section>
