$crazygreen: #009000;
$yellow: #D3C955;
$kindabrown: #4D2F15;
.card {
  text-decoration: none;
  background-color: $crazygreen;
  width: 50px;
  height: 50px;
  line-height: 52px;
  text-align: center;
  color: #FFF;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  margin: 2px;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
}

.stacks {
  text-align: center;
  margin-top: 10px;
}

.stack {
  display: inline-block;
  height: 100px;
  width: 100px;
  color: #FFF;
  font-weight: bold;
  font-size: 50px;
  line-height: 100px;
  -webkit-border-radius: 5px;
  margin-right: 10px;
}

.stack-green {
  background: -webkit-linear-gradient(top, $crazygreen 0%, darken($crazygreen, 10%) 100%);
  margin-right: 0;
}

.stack-yellow {
  background: -webkit-linear-gradient(top, $yellow 0%, darken($yellow, 15%) 100%);
}

.stack-brown {
  background: -webkit-linear-gradient(top, $kindabrown 0%, darken($kindabrown, 10%) 100%);
}

a.study {
  @include button(shiny, #FF0099);
}

a.knew-button {
  @include button(shiny, $crazygreen);
}

a.did_not_know-button {
  @include button(shiny, #990000);
}

.buttons {
  text-align: center;
}

a.back {
  @include button(shiny, #666);
  height: 20px;
  line-height: 20px;
  margin-top: -20px;
  position: absolute;
  top: 25px;
  left: 10px;
}


// .bar {
//   background: -webkit-linear-gradient(top, #383838 0%, #181818 100%);
//   background: -moz-linear-gradient(top, #262626, #181818);
//   color: 0;
//   height: 50px;
//   line-height: 50px;
//   text-align: right;
//   font-size: 25px;
//   padding: 0 50px;
//   position: relative;
//   a {
//     color: #FFF;
//     text-decoration: none;
//   }
// }

.flashcard {
  color: rgba(255, 255, 255, 0.9);
  font-size: 240px;
  padding: 20px 0;
  text-align: center;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
  -webkit-box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
}

.flashcard-brown {
  background: -webkit-linear-gradient(top, $kindabrown 0%, darken($kindabrown, 10%) 100%);
}

.flashcard-yellow {
  background: -webkit-linear-gradient(top, $yellow 0%, darken($yellow, 10%) 100%);
}

.flashcard-green {
  background: -webkit-linear-gradient(top, $crazygreen 0%, darken($crazygreen, 10%) 100%);
}

.meaning {
  text-align: center;
  padding-top: 150px;
}

.english {
  display: inline-block;
  color: #999;
  background-color: #FFF;
  font-size: 75px;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

// .kanji {
//   position: relative;
// }
// 
// .kanji:before, .kanji:after {
//     content: attr(data-content);
//     color: rgba(255,255,255,1.0);
//     position: absolute;
// }
// 
// .kanji:before { top: -51px; left: 1px }
// .kanji:after  { top: -52px; left: 2px }
// 
