@mixin botan($color) {
  @include background-image(linear-gradient(top, lighten($color, 10%) 0%, lighten($color, 3%) 50%, $color 50%, darken($color, 5%) 100%));
  border: 1px solid darken($color, 10%);
  @include border-radius(4px);
  @include box-shadow(inset 0px 1px 0px lighten($color, 30%));
  color: darken($color, 30%);
  font-family: $cursive;
  padding:  0.2em 0.6em;
  text-shadow: 0px 1px 0px lighten($color, 30%);
  text-transform: uppercase;
}

@mixin card {
  border: 1px solid $light-green;
  @include background-image(linear-gradient(lighten($green, 27%), #fff));
  @include border-radius(4px);
  padding: 20px;
}

@mixin deck-size($size: medium) {
  @if $size == small {
    @include box-shadow(0 5px 0 -4px #fff, 0 5px 0 -3px $light-green, 0 2px 2px lighten($light-green, 15%));
  }

   @else if $size == medium {
    @include box-shadow(0 5px 0 -4px #fff, 0 5px 0 -3px $light-green, 0 11px 0 -8px #fff, 0 11px 0 -7px $light-green, 0 4px 7px lighten($light-green, 15%));
  }

   @else if $size == large {
    @include box-shadow(0 5px 0 -4px #fff, 0 5px 0 -3px $light-green, 0 11px 0 -8px #fff, 0 11px 0 -7px $light-green, 0 17px 0 -12px #fff, 0 17px 0 -11px $light-green, 0 7px 15px lighten($light-green, 15%));
  }

   @else if $size == x-large {
    @include box-shadow(0 5px 0 -4px #fff, 0 5px 0 -3px $light-green, 0 11px 0 -8px #fff, 0 11px 0 -7px $light-green, 0 17px 0 -12px #fff, 0 17px 0 -11px $light-green, 0 23px 0 -16px #fff, 0 23px 0 -15px $light-green, 0 12px 22px lighten($light-green, 15%));
  }

}
