@mixin botan($color) {
  @include border-radius(4px);
  padding: 10px 20px;
  @include background-image(linear-gradient(top, lighten($color, 10%) 0%, lighten($color, 3%) 50%, $color 50%, darken($color, 5%) 100%));
  @include box-shadow(inset 0px 1px 0px lighten($color, 30%));
  border: 1px solid darken($color, 10%);
  font-weight: bold;
  text-transform: uppercase;
  color: darken($color, 30%);
  text-shadow: 0px 1px 0px lighten($color, 30%);
}
