@import 'bourbon';
@import 'mixins';
@import 'variables';
@import 'reset';
@import 'grid';
@import 'typography';
@import 'forms';

// to remove
@import 'cards';

html {
  background-image: url("/images/bg.png");
}
body {
  @extend .clearfix;
  max-width: 100%;
  color: #555;
  font-family: $sans;
}

div.wrapper {
  @include fill-parent();
}

header {
  @include background-image(linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)));

  h1 > img {
    @include fill-parent();
  }

  &.bar {
    @include background-image(linear-gradient(lighten($green, 5%), darken($green, 15%)));
    border-top: 1px solid lighten($green, 20%);
    border-bottom: 1px solid darken($green, 35%);
    padding: 0.8em;
    @include box-shadow(0 1px 0px white);

    li {
      @include botan(darken($green, 25%));
      display: inline;
      font-size: 1em;
      // font-family: $cursive;
      text-transform: none;

      a {
        text-shadow:0 -1px 0 darken($green, 55%);
        color: #fff;
      }

      &.sign-out {
        // float: right;
      }
    }
  }
}

a {
  text-decoration: none;
  color: darken($orange, 15%);
}

section.main {
  padding: 0 15px;
  @include box-sizing(border-box);

  div.session-form {
    @include card;
    margin: 0 auto;
    max-width: 400px;

    input {
      @include fill-parent();
      margin: 5px 0;
    }

    ul.meta-links {
      list-style: none;
      text-align:center;

      li {
        display: inline;
        padding-right: 10px;

      }
    }
  }

  ul.decks {
    padding-top: 20px;
    text-align: center;
    li {
      @include card;
      font-size: 1.7em;
      list-style: none;
      margin-bottom: 20px;
      text-align: center;
      min-height: 200px;

      &.small {
        @include deck-size(small);
      }

      &.medium {
        @include deck-size(medium);
      }

      &.large {
        @include deck-size(large);
      }

      &.x-large {
        @include deck-size(x-large);
      }
    }
  }

  ul.cards {
      @extend ul.decks;
    li {
      min-height: 0;
      font-family: Courier;
      display: inline-block;
      text-shadow: 0 1px 0 #fff;
      font-size: 4em;
      margin-right: 2%;
      @include box-shadow(inset 0 1px 0px #fff, 0 1px 3px lighten($green, 10%));

      &.last-child {
        margin-right: 0;
      }
    }
  }
}
