@import 'bourbon';
@import 'mixins';
@import 'variables';
@import 'reset';
@import 'grid';
@import 'typography';
@import 'forms';

// to remove
@import 'cards';

html {
  background-image: url("/images/bg.png");
}
body {
  @extend .clearfix;
  max-width: 100%;
  color: #555;
  font-family: $sans;
}

div.wrapper {
  @include fill-parent();
}

header {
  @include background-image(linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0)));

  h1 > img {
    @include fill-parent();
  }

  &.bar {
    @include background-image(linear-gradient(lighten($green, 5%), darken($green, 15%)));
    border-top: 1px solid lighten($green, 20%);
    border-bottom: 1px solid darken($green, 35%);
    padding: 1em;

    a {
      color: white;
      font-family: $cursive;
    }
  }
}

a {
  text-decoration: none;
  color: darken($orange, 15%);
}

section.main {
  padding: 0 15px;
  @include box-sizing(border-box);

  div.session-form {
    @include border-radius(4px);
    background-color: white;
    @include box-shadow(0 2px 2px $green);
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;

    input {
      @include fill-parent();
      margin: 5px 0;
    }

    ul.meta-links {
      list-style: none;
      text-align:center;

      li {
        display: inline;
        padding-right: 10px;

      }
    }
  }

  div.decks {
    
  }
}
