<% content_for :bar do %>
  <%= link_to "Back", decks_path, class: "back" %>
  <h1><%= @deck.name %></h1>
<% end %>

<section class="main">
    <%= link_to "Study", [:study, @deck], class: "study" %>

  <ul class="cards">
    <% @cards.each do |card| %>
      <li>
      <%= link_to card.front, card, class: "card" %>
      </li>
    <% end %>
  </ul>
</section>
