<header>
  <h1><%= @deck.name %></h1>
  <%= link_to "Study", [:study, @deck], class: "study" %>
</header>

<section>
  <% @cards.each do |card| %>
    <%= link_to card.front, card, class: "card" %>
  <% end %>
</section>
