<div class="flashcard">
  <span class="kanji" data-content="<%= @card.front %>"><%= @card.front %></span>
</div>
<div class="meaning">
  <span class="english"><%= @card.back %></span>
</div>

<div>Knew</div>
<div>Didn't Know</div>
